<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    .stationInfo {
        height: 150px;
        width: 250px;
    }
</style>
<div id="map" style="height:600px; width:900px; float:right;  "></div>
<div id="Point" style="height:300px; width:400px;  ">
    <h2>Point</h2>

    <div id="tableBlock"></div>
    <div id="editBlock">
        <p><b>Редактирование </b></p>
        <table>
            <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
            <tr><td><label>Name: </label></td><td><input type="text" id="editName" /></td></tr>
            <tr><td><label>Id: </label></td><td><input type="number" id="editId" /></td></tr>
            <tr><td><label>Trafic: </label></td><td><input type="number" id="editTrafic" /></td></tr>
            <tr><td><label>Cash: </label></td><td><input type="number" id="editCash" /></td></tr>
            @*<tr><td><label>GeoLong: </label></td><td><input type="number" id="editGeoLong" /></td></tr>
                <tr><td><label>GeoLat: </label></td><td><input type="number" id="editGeoLat" /></td></tr>*@

        </table>
        <button id="editBook">Сохранить</button>
    </div>
    <div id="createBlock">
        <p><b>Добавление </b></p>
        <table>
            <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
            <tr><td><label>Name: </label></td><td><input type="text" id="addName" /></td></tr>
            <tr><td><label>Id: </label></td><td><input type="number" id="addId" /></td></tr>
            <tr><td><label>Trafic: </label></td><td><input type="number" id="addTrafic" /></td></tr>
            <tr><td><label>Cash: </label></td><td><input type="number" id="addCash" /></td></tr>
            @*<tr><td><label>GeoLong: </label></td><td><input type="number" id="addGeoLong" /></td></tr>
                <tr><td><label>GeoLat: </label></td><td><input type="number" id="addGeoLat" /></td></tr>*@
        </table>
        <button id="addBook">Сохранить</button>
    </div>
</div>


<div id="tableBlock1" style="height:300px; width:400px;"></div>





<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxYWRqhyr5YSKZmVdxycL5ZLxCy6SNwMw&callback=GetMap"
        async defer></script>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            GetMap();
            GetAllBooks();

            $("#editBook").click(function (event) {
                event.preventDefault();
                EditBook();
            });

            $("#addBook").click(function (event) {
                event.preventDefault();
                AddBook();
            });
        });


        function GetAllBooks() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/points',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function AddBook() {

            var book = {
                Name: $('#addName').val(),
                Id: $('#addId').val(),
                Trafic: $('#addTrafic').val(),
                Cash: $('#addCash').val(),
                //GeoLong: $('#addGeoLong').val(),
                //GeoLat: $('#addGeoLat').val(),
            };

            $.ajax({
                url: '/api/points/',
                type: 'POST',
                data: JSON.stringify(book),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function DeleteBook(id) {

            $.ajax({
                url: '/api/points/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // редактирование книги
        function EditBook() {
            var id = $('#editId').val()
            // получаем новые значения для редактируемой книги

            var book = {
                Name: $('#editName').val(),
                Id: $('#editId').val(),
                Trafic: $('#editTrafic').val(),
                Cash: $('#editCash').val(),
                //GeoLong: $('#editGeoLong').val(),
                //GeoLat: $('#editGeoLat').val(),
            };



            $.ajax({
                url: '/api/points/' + id,
                type: 'PUT',
                data: JSON.stringify(book),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function WriteResponse(books) {
            var strResult = "<table><th>ID</th><th>Название</th><th>Кол-во мест</th><th>Стоимость</th>";
            $.each(books, function (index, book) {
                strResult += "<tr><td>" + book.Id + "</td><td> " + book.Name + "</td><td>" +
                book.Trafic + "</td><td>" + book.Cash + "</td><td>" +
                //book.GeoLong + "</td><td>" + book.GeoLat +
                "</td><td>          <a id='editItem' data-item='" + book.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                "<td><a id='delItem' data-item='" + book.Id + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        // обработчик удаления
        function DeleteItem(el) {
            // получаем id удаляемого объекта
            var id = $(el).attr('data-item');
            DeleteBook(id);
        }
        // обработчик редактирования
        function EditItem(el) {
            // получаем id редактируемого объекта
            var id = $(el).attr('data-item');
            GetBook(id);
        }
        // вывод данных редактируемой книги в поля для редактирования
        function ShowBook(book) {
            if (book != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(book.Id);
                $("#editName").val(book.Name);
                $("#editTrafic").val(book.Trafic);
                $("#editCash").val(book.Cash);
                //$("#editGeoLong").val(book.GeoLong);
                //$("#editGeoLat").val(book.GeoLat);
            }
            else {
                alert("Такая книга не существует");
            }
        }
        // запрос книги на редактирование
        function GetBook(id) {
            $.ajax({
                url: '/api/points/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowBook(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }















        var gol = {};
        var bol = [];
        var bol1 = [];
        var lat1;
        var lng1;

        var latitude;
        var longitude;
        var map;
        function GetMap() {


            //navigator.geolocation.getCurrentPosition(function (position) {
            //     latitude = position.coords.latitude;
            //     longitude = position.coords.longitude;

            //});




            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 50.026875, lng: 36.328791 },
                zoom: 18
            });
            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);










            //var myLatlng = new google.maps.LatLng(50.005742, 36.229107);

            //var marker = new google.maps.Marker({
            //    position: myLatlng,
            //    map: map,
            //    title: 'о'
            //});


            //marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')

            var SpeedMarker = [];
            //Srart Stavim Marker
            map.addListener('click', function (e) {
                placeMarkerAndPanTo(e.latLng, map);
                SpeedMarker.push(e.latLng);
            });

            var marker1 = [];
            function placeMarkerAndPanTo(latLng, map) {
                marker1.push(new google.maps.Marker({ position: latLng, map: map }))
            };


            var triangleCoordss;

            //End
            $.getJSON('@Url.Action("GetPolygons","Home")', function (data) {
                $.each(data, function (i, item) {

                    bol.push(new google.maps.LatLng(item.lng, item.lat));



                });
                var bermudTriangle = new google.maps.Polygon({
                    paths: bol,

                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    editable: true,
                    draggable: true,
                    geodesic: true,
                    fillOpacity: 0.35

                });
                bermudTriangle.setMap(map);

                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='stationInfo'><h2>Местоположение "  + "</h2><div><h4>Стоимость: "
                       + "</h4></div><div><h4>Кол-во мест: "  + "</h4></div></div>"
                });


                google.maps.event.addListener( bermudTriangle, 'mouseover', function () {
                    infowindow.open(map, bermudTriangle);
                })


            });








            map.addListener('rightclick', function () {


                var bermudTriangle = new google.maps.Polygon({
                    paths: SpeedMarker,

                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    editable: true,
                    draggable: true,
                    geodesic: true,
                    fillOpacity: 0.35

                });
                bermudTriangle.setMap(map);
                // Sets the map on all markers in the array.

                for (var i = 0; i < marker1.length; i++) {
                    marker1[i].setMap(null);
                }

                var event = {
                    title: "Конференция",
                    date: "сегодня"
                };

                var str = JSON.stringify(event);


                //alert("Прибыли данные: " + event);
                $.ajax({
                    url: '/Home/GiveData',
                    type: 'POST',
                    data: str,
                    dataType: 'json',

                    success: function (msg) {
                        var eventt = JSON.parse(msg);
                        alert("Прибыли данные: " + msg);


                    }

                });

            });




            //      var triangleCoords = [
            //{ lat: 50.027545, lng: 36.329529 },
            //      { lat: 50.026807, lng: 36.328987 },
            //  { lat: 50.027831, lng: 36.325704 },

            //   { lat: 50.028603, lng: 36.326316 }


            //      ];












            //      var bermudaTriangle = new google.maps.Polygon({
            //          paths: triangleCoords,
            //          strokeColor: '#FF0000',
            //          strokeOpacity: 0.8,
            //          strokeWeight: 3,
            //          fillColor: '#FF0000',
            //          fillOpacity: 0.35
            //      });
            //      bermudaTriangle.setMap(map);













            $.getJSON('@Url.Action("GetData","Home")', function (data) {

                $.each(data, function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map': map,
                        'title': item.Name
                    });

                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')





                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='stationInfo'><h2>Местоположение " + item.Name + "</h2><div><h4>Стоимость: "
                            + item.Cash + "</h4></div><div><h4>Кол-во мест: " + item.Id + "</h4></div></div>"
                    });


                    google.maps.event.addListener(marker, 'mouseover', function () {
                        infowindow.open(map, marker);
                    }













                    );
                })
            });
        }

    </script>
}




